//Font

@font-family-main: 'Manrope', sans-serif;
@font-family-pencil: 'Fredericka the Great', sans-serif;
@font-color: #323232;
@font-color-mode: #000000;

//Color

@white: #ffffff;
@white-grey: #fdfdfd;
@whitesmoke: #f5f5f5;
@lightgrey: #d3d3d3;
@grey: #b1b1b1;
@lightslategrey: #81888f;
@black: #323232;
@blue: #4A90D6;
@orange: #ffd072;
@lightorange: #fde6b6;

//Screen sizes

@tablet: ~"(min-width: 768px)";
@desktop: ~"(min-width: 1200px)";

